<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a Blog Post!</title>
</head>
<body>
<h3>Add a blog post!</h3>

<form id="post-form" method="post" action="/posts/create" th:object="${newPost}">

    <label for="postTitle">Title</label>
    <input type="text" name="title" id="postTitle" th:field="${title}">

    <label for="postBody">Body</label>
    <textarea type="text" name="body" id="postBody" th:field="${body}"></textarea>

    <button type="submit" id="submit-btn">Post</button>
</form>

</body>
</html>