<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome to my dice rolling game!</h1>
<p>Make a guess</p>
<a href="/roll-dice/1">One</a>
<a href="/roll-dice/1">Two</a>
<a href="/roll-dice/1">Three</a>
<a href="/roll-dice/1">Four</a>
<a href="/roll-dice/1">Five</a>
<a href="/roll-dice/1">Six</a>

<h1>Your choice: <span th:text="${choice}"></span></h1>
<h1>The dice landed on: <span th:text="${result}"></span></h1>
<h1><span th:text="${match}"></span></h1>

</body>
</html>